.app-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.title-div {
  padding-top: 100px;
}

.section-spacing {
  margin-top: 50px;
}
.btn-text {
  color: white;
  font-family: "Pacifico", cursive;
}

.quote-box {
  position: absolute;
  left: 20%;
  right: 20%;
  color: black;
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

.btn-text-share {
  margin: 20px;
  font-family: "Pacifico", cursive;
}
